# Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment & secret files
cookies.json
.env

# Streamlit logs
.streamlit/

